In [1]:
import pandas as pd

In [18]:
# First is my solution

In [17]:
data1 = {'id': [1,2,3,4,5], 'name': ['Joe', 'Jim', 'Henry','Sam','Max'], 'salary': [7000,9000,8000,6000,9000], 'departmentId': [1,1,2,2,1]}
data2 = {'id': [1,2], 'name': ['IT','Sales']}

employee = pd.DataFrame(data1)
department = pd.DataFrame(data2)

In [ ]:
def department_highest_salary(employee: pd.DataFrame, department: pd.DataFrame):
    max_values = employee.groupby('departmentId')['salary'].transform('max')
    employee = employee[employee['salary'] == max_values]
    output = pd.merge(employee, department, how='inner', left_on='departmentId', right_on='id')
    output = output[['name_y','name_x','salary']]
    output.rename(columns={'name_y': 'Department','name_x': 'Employee','salary': 'Salary'}, inplace=True)
    return output

department_highest_salary(employee, department)

In [19]:
### Best solution

In [20]:
def department_highest_salary(employee: pd.DataFrame, department: pd.DataFrame) -> pd.DataFrame:
    df_merged = employee.merge(department, left_on = 'departmentId', right_on ='id',suffixes =('_emp','_dpt'))
    df = df_merged[df_merged['salary'] == df_merged.groupby('name_dpt')['salary'].transform(max)]
    df = df[['name_dpt', 'name_emp', 'salary']]
    return df.rename(columns={'name_dpt': 'Department', 'name_emp': 'Employee', 'salary': 'Salary'})

department_highest_salary(employee, department)

# The main difference between this solution and the one that i have provided is that i have created separate
# entity for max_values as well as renamed my columns in main code and not while returning the data

C:\Users\mabra\AppData\Local\Temp\ipykernel_1860\657649899.py:3: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df = df_merged[df_merged['salary'] == df_merged.groupby('name_dpt')['salary'].transform(max)]

  Department Employee  Salary
1         IT      Jim    9000
2      Sales    Henry    8000
4         IT      Max    9000