In [3]:
import pandas as pd

In [12]:
# Question 178. Rank Scores
# in this questtion i have to create a program that will rank scores where results that have the same score are given the same rank

data = {'score': [3.5, 4, 3.65, 3.85, 4, 3.65],'id':[1,2,3,4,5,6]}
df = pd.DataFrame(data)

def order_scores_my_code(scores: pd.DataFrame) -> pd.DataFrame:
    scores = scores.sort_values(by='score',ascending=False).reset_index(drop=True)
    scores["rank"] = 1
    for i in range(1, len(scores)):
        if scores.loc[i,"score"] == scores.loc[i-1,"score"]:
            scores.loc[i,"rank"] = scores.loc[i-1,"rank"]
        else:
            scores.loc[i,"rank"] = scores.loc[i-1,"rank"]+1
    
    return scores[["score","rank"]]

solution = order_scores_my_code(df)
print(solution)

# The solution that i came up with is not ideal. It passed all cases but overall was not really performing well in comparison to other solutions

# Other solution which is much more elegant and was created bu someone else

def order_scores(scores: pd.DataFrame) -> pd.DataFrame:
    scores['rank'] = scores['score'].rank(method='dense', ascending=False)
    result_df = scores.drop('id',axis=1).sort_values(by='score', ascending=False)
    return result_df

solution2 = order_scores(df)
print(solution2)

   score  rank
0   4.00     1
1   4.00     1
2   3.85     2
3   3.65     3
4   3.65     3
5   3.50     4
   score  rank
1   4.00   1.0
4   4.00   1.0
3   3.85   2.0
2   3.65   3.0
5   3.65   3.0
0   3.50   4.0

In [30]:
# Thanks to the top answer i have learned about the rank function and after reading 

data = {'score': [3.5, 4, 3.65, 3.85, 4, 4.3, 3.65],'id':[1,2,3,4,5,6,7]}
df = pd.DataFrame(data)

# first argument that can be used is called method and it defines what ranks will be assigned to new columns
# average: average rank of the group
# min: lowest rank in the group
# max: highest rank in the group
# first: ranks assigned in order they appear in the array
# dense: like 'min', but rank always increases by 1 between groups.
df = df.sort_values(by="score", ascending=True)
df['rank_avg'] = df['score'].rank(method="average")
df['rank_min'] = df['score'].rank(method='min')
df['rank_max'] = df['score'].rank(method='max')
df['rank_first'] = df['score'].rank(method="first")
df['rank_dense'] = df['score'].rank(method="dense")
df

   score  id  rank_avg  rank_min  rank_max  rank_first  rank_dense
0   3.50   1       1.0       1.0       1.0         1.0         1.0
2   3.65   3       2.5       2.0       3.0         2.0         2.0
6   3.65   7       2.5       2.0       3.0         3.0         2.0
3   3.85   4       4.0       4.0       4.0         4.0         3.0
1   4.00   2       5.5       5.0       6.0         5.0         4.0
4   4.00   5       5.5       5.0       6.0         6.0         4.0
5   4.30   6       7.0       7.0       7.0         7.0         5.0